
<div class="row">
  <div class="col-sm">
    <table class="table table-striped table-sm" id="tableRefDataSymbols">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Symbol</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!--  iterate over items in list -->
        <tr *ngFor="let item of refDataSymbols" scope="row">
          <td class="w-100 ">{{item.name}}</td>
          <td>{{item.symbol}}</td>
          <td class="text-nowrap">
            <!--  -->
            <a class="btn btn-primary btn-sm" role="button" [routerLink]="['/stock',item.symbol,'company']"   >Details</a>
            <a class="btn btn-info btn-sm" role="button" [routerLink]="['/stock', item.symbol, 'news']">News</a>
            <a class="btn btn-secondary btn-sm" role="button">Quote</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


